/* raleway-100 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/raleway-v34-latin-100.woff2") format("woff2");
}
/* raleway-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/raleway-v34-latin-200.woff2") format("woff2");
}
/* raleway-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/raleway-v34-latin-300.woff2") format("woff2");
}
/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/raleway-v34-latin-700.woff2") format("woff2");
}
/* raleway-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/raleway-v34-latin-regular.woff2") format("woff2");
}

/* quicksand-regular - latin
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/quicksand-v36-latin-regular.woff2") format("woff2");
} */

/* windsong-regular - latin */
@font-face {
  font-display: swap;
  font-family: "WindSong";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/windsong-v11-latin-regular.woff2") format("woff2");
}

:root {
  --grey: #333333;
  --light-grey: #b8b8b8;
  --black: #000000;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", "Quicksand", sans-serif, Arial;
  font-weight: 300;
  overflow-x: hidden;
  color: var(--grey);
}

a {
  all: unset;
  cursor: pointer;
}

html,
body {
  overscroll-behavior: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 99;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.875rem;
  min-height: 10vh;
}

.header-logo > a {
  font-size: 2.5rem;
  letter-spacing: 0.14em;
}

.header-nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.625rem;
  padding-left: 0;
}

.header-nav-links button {
  all: unset;
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}

.header-nav-links a,
.header-nav-links button,
.header-nav-links span {
  font-size: 1.25rem;
  cursor: pointer;
}

/* DROPDOWN MENU */

.header-nav-links li > a,
.header-nav-links li > span,
.header-nav-links li > button {
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
  display: inline-block;
}

.header-nav-links li {
  position: relative;
}

.header-active-link {
  pointer-events: none;
  position: absolute;
  height: 85%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--grey);
  border-radius: 100px;
}

.dropdown-menu-title {
  position: relative;
}

.dropdown-menu {
  padding: 1rem;
  margin: 0.65rem 1rem;
  top: 100%;
  left: 50%;
  border: 1px solid;
  transform-origin: top;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  will-change: transform;
}

.dropdown-menu li > a {
  padding: 0;
  text-wrap: nowrap;
}

.menu-link-border {
  position: absolute;
  pointer-events: none;
  width: 150%;
  height: 130%;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  left: 0;
  top: 0;
}

.header-nav-links li {
  position: relative;
}

/* HERO */

.hero {
  position: relative;
}

.hero > img {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform-origin: bottom left;
}

.hero-text {
  position: absolute;
  top: 55%;
  right: 5%;
  z-index: 20;
}

.hero-text > h1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text > h1 span {
  font-size: 3rem;
  font-weight: 300;
  line-height: 0.9em;
  letter-spacing: 0.14em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text > h1 > span:nth-child(1) {
  justify-self: end;
  margin-right: 0.35em;
}

.hero-text > h1 > span:nth-child(2) {
  font-family: "WindSong";
  font-size: 8rem;
  margin-bottom: 0.15em;
  letter-spacing: 0;
  font-weight: 400;
}
.hero-text > h1 > span:nth-child(3) {
  justify-self: end;
}
.hero-text > h1 > span:nth-child(4) {
  justify-self: start;
  margin-left: 0.5em;
}

/* GALLERY */

.gallery-scroll {
  min-height: 400vh;
  position: relative;
}

.gallery-container {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gallery-container div {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.gallery-photo-container {
  height: 80vh;
  width: 38vw;
  flex: 1;
  will-change: transform;
}

.gallery-photo-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  will-change: transform;
}

/* PORTFOLIO */

.portfolio-container {
  padding: 0rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  overflow-x: hidden;
}

.portfolio-item {
  align-items: center;
  padding-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio-item > a {
  z-index: 4;
}

.portfolio-item:nth-child(even) {
  flex-direction: row-reverse;
}

.portfolio-item:last-child {
  margin-bottom: 17.5vh;
}

.portfolio-cover-img {
  height: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  display: block;
}

.portfolio-link {
  font-family: "WindSong";
  color: var(--white);
  font-size: 6rem;
  letter-spacing: 0;
  font-weight: 400;
  position: relative;
  margin: 0;
}

.portfolio-link-container {
  display: flex;
  justify-content: center;
  width: 38rem;
}

.portfolio-item-name {
  position: relative;
  z-index: 3;
}

.underline-animated {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform-origin: right;
  height: 2rem;
  width: 110%;
  z-index: 2;
}

.underline-static {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 110%;
  z-index: 1;
}

/* TESTIMONIALS */

.testimonials-section {
  padding-top: 10vh;
  height: 90vh;
  max-height: 880px;
  /* confirm this max height later */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.testimonials-container {
  width: 90%;
  overflow: hidden;
}
.testimonials-slider {
  display: flex;
  width: 100%;
  cursor: grab;
}
.testimonials-slider:active {
  cursor: grabbing;
}

.testimonials-wrapper {
  width: 60%;
  max-width: 52.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* confirm max-width later */
}

.testimonials-wrapper h1 {
  font-family: "WindSong";
  font-size: 4rem;
  letter-spacing: 0;
  text-wrap: nowrap;
  font-weight: 400;
  margin: 0rem;
  position: absolute;
  top: 25%;
}

.testimonial-card {
  /* position: relative; */
  margin: 5rem 0;
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 0 2rem;
}

.testimonial-card .quote {
  position: absolute;
  font-family: "WindSong";
  font-size: 8rem;
  letter-spacing: 0;
  text-wrap: nowrap;
  font-weight: 400;
}

.testimonial-card .text {
  /* width: 50vw; */
  position: relative;
  margin: auto;
  font-size: 1.75rem;
  text-align: center;
}

.testimonial-card .client,
.testimonial-card .service {
  font-size: 1.75rem;
  margin: auto;
  /* width: 50%; */
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.testimonial-card .client {
  margin-top: 2rem;
}

.quote-left {
  top: 0;
  left: 0;
  transform: translate(-105%, -40%);
}
.quote-right {
  bottom: 0;
  right: 0;
  transform: translate(-10%, 75%);
}

.testimonials-pagination {
  position: absolute;
  bottom: 17.5%;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.testimonials-pagination > button {
  background-color: var(--light-grey);
}

.testimonials-pagination > button,
.button-mask {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* INSTAGRAM PREVIEW */

.instagram-section {
  padding: 0 1.875rem;
  margin: 20vh 0;

  position: relative;
}

.instagram-section h1 {
  font-family: "WindSong";
  font-size: 4rem;
  letter-spacing: 0;
  text-wrap: nowrap;
  font-weight: 400;
  text-align: center;
  margin: 5rem 0;
}

.instagram-white-fade {
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 40vh;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.85) 60%,
    #fff 100%
  );
}

.instagram-link {
  position: relative;
  z-index: 3;
}

.instagram-link span {
  position: relative;
  z-index: 3;
}

.instagram-link-underline {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-48.5%);
  bottom: 10%;
  z-index: 1;
}

.instagram-link-underline-mask {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform-origin: right;
  height: 1rem;
  width: 120%;
  background-color: var(--white);
  z-index: 2;
}

.images-grid {
  columns: 450px;
  column-gap: 1rem;
}
.images-grid > div {
  margin-bottom: 1rem;
  /* display: inline-block; */
  overflow: hidden;
}
.images-grid img {
  width: 100%;
  display: block;
}

/* FOOTER */

footer {
  height: 20vh;
  position: relative;
  bottom: 0;
  margin: 0 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top-line {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  top: -0.1rem;
  background-color: var(--grey);
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.875rem;
}

.footer-left h1 {
  font-weight: 200;
  font-size: 4rem;
  letter-spacing: 0.14em;
  margin: 0 0 -0.75rem 0;
}
.footer-left span {
  font-family: "WindSong";
  font-size: 3.75rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: -0.75rem;
  margin-right: 1.25rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100%;
  max-height: 220px;
  text-align: end;
  margin-right: 1.875rem;
}

.footer-right a {
  font-size: 1.25rem;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 1px;
}

.footer-whatsapp {
  position: relative;
}
.footer-whatsapp img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-130%, 15%);
  height: 1.5rem;
}

.scroll-to-top {
  cursor: pointer;
  position: absolute;
  right: 1.875rem;
  top: -1.875rem;
  transform: translateY(-100%);
  border-radius: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* LOADER */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader-overlay span {
  color: var(--white);
  font-size: 64px;
  font-weight: 100;
}

/* ABOUT US PAGE */
.about-section {
  padding: 10vh 1.875rem 10rem 1.875rem;
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: auto;
}

.about-section h1 {
  font-size: 6rem;
  text-align: center;
  font-family: "WindSong";
  letter-spacing: 0;
  font-weight: 400;
  margin: 3rem 0rem;
  align-self: center;
}

.photographer-container > h2 {
  font-size: 2.5rem;
  margin: 0.75rem 0rem;
  font-weight: 300;
}

.photographer-container > div {
  display: flex;
}

.photographer-container p {
  font-size: 1.25rem;
  margin: 0 1rem;
  max-width: 450px;
}

.photographer-container.second {
  margin-top: -30%;
}

.photographer-container.second > h2 {
  text-align: end;
}

.photographer-container.second > div {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.photographer-container.second p {
  text-align: end;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-container > img {
  align-self: center;
}

.about-container > p {
  max-width: 800px;
  font-size: 1.25rem;
  align-self: center;
  text-align: center;
  margin: 0;
}

/* PORTFOLIO PAGE */

.portfolio-page-section {
  /* margin-top: 10vh; */
  /* min-height: 70vh; */
  display: flex;
  flex-direction: column;
}

.images-grid-portfolio {
  padding: 0rem 6rem;
  columns: 300px;
}

.images-grid-portfolio img {
  cursor: pointer;
}

.portfolio-page-section h1 {
  font-size: 6rem;
  text-align: center;
  font-family: "WindSong";
  letter-spacing: 0;
  font-weight: 400;
  padding: 0rem 1rem;
  align-self: center;
}

.portfolio-page-section > h1 {
  margin: 12.5vh 0vh 6vh 0vh;
}

.portfolio-contact {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
  gap: 2.5rem;
}

.portfolio-contact h1 {
  font-size: 4rem;
  margin: 0;
}

.portfolio-page-section p {
  font-size: 2.5rem;
  margin: 0;
  max-width: 700px;
  text-align: center;
  align-self: center;
}

.portfolio-page-section a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 2px;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.84);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  touch-action: none;
}

.fullscreen-container {
  display: inline-block;
  max-height: 75vh;
  max-width: 80vw;
  margin-bottom: 5rem;
}

.fullscreen-photo {
  max-height: 75vh;
  max-width: 80vw;

  object-fit: cover;
  will-change: transform;
}

.fullscreen-overlay button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.portfolio-arrows,
.portfolio-close {
  position: absolute;
}

.portfolio-arrows {
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
}

.portfolio-arrows.previous {
  left: 3rem;
  transform: translateX(-50%);
}
.portfolio-arrows.next {
  right: 3rem;
  transform: translateX(50%);
}

.portfolio-close {
  right: 5vh;
  top: 5vh;
}

.photos-navigation-container {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  gap: 30px;
  will-change: transform;
}

.photos-navigation {
  height: 130px;
  width: 104px;
  cursor: pointer;
}
.photos-navigation img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category-not-found,
.page-not-found {
  min-height: 70vh;
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-not-found h1,
.page-not-found h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "WindSong";
  letter-spacing: 0;
  font-weight: 400;
  margin: 0rem;
  padding: 0rem 1rem;
}

.category-not-found h2,
.page-not-found h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  padding: 0rem 2rem;
}

.page-not-found h1 {
  font-size: 3rem;
}
.page-not-found h2 {
  max-width: 900px;
}

.page-not-found a {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 1px;
}

/* CURSOR */

.circle-cursor {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 200px;
  pointer-events: none;
}

/* MEDIA QUERIES */

@media (max-width: 1024px), (max-device-width: 1024) {
  .hero > img {
    object-position: 65% 0%;
  }

  /* MOBILE SNAP */
  /* html,
  body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .gallery-container,
  .portfolio-container,
  .hero,
  .testimonials-section,
  .instagram-section,
  .portfolio-page-section,
  .about-section {
    scroll-snap-align: start;
  }

  .instagram-section,
  .portfolio-page-section,
  .about-section {
    scroll-margin-bottom: 100vh;
  } */

  /* .instagram-section {
    padding-top: 10vh;
  } */

  /* .portfolio-page-section {
    padding-top: 0vh;
    margin-top: 0;
  } */

  /* HEADER */

  header {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-nav-links li:last-child > a,
  .header-nav-links li:last-child > span {
    padding-right: 0;
  }

  /* HERO */

  .hero-text > h1 > span {
    font-size: 2.5rem;
  }

  .hero-text > h1 > span:nth-child(2) {
    font-size: 6.5rem;
  }

  /* GALLERY */

  .gallery-scroll {
    min-height: 90vh;
  }

  .gallery-container {
    position: static;
    overflow: hidden;
  }

  .gallery-container > div {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0vw 20vw;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .gallery-photo-container {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 60vw;
    height: 60vh;
    padding: 7.5vh 0vh;
  }

  .gallery-container > div::-webkit-scrollbar {
    height: 0.25rem;
  }

  .gallery-container > div::-webkit-scrollbar-track {
    background-color: var(--light-grey);
    margin: 0 25vw;
  }

  .gallery-container > div::-webkit-scrollbar-thumb {
    background-color: var(--grey);
  }

  /* PORTFOLIO SECTION */
  .portfolio-container > .portfolio-item {
    flex-direction: column;
    gap: 2rem;
  }

  .portfolio-link {
    font-size: 3rem;
  }

  .underline-animated {
    visibility: hidden;
  }

  .portfolio-item > a {
    width: 100%;
  }

  .portfolio-cover-img {
    width: 100%;
    max-height: 30vh;
    object-position: 0% 30%;
  }

  .portfolio-item:last-child {
    margin-bottom: 10vh;
  }

  .portfolio-page-section p {
    font-size: 1.75rem;
    max-width: 450px;
  }

  .portfolio-page-section h1 {
    font-size: 5rem;
  }

  .portfolio-contact h1 {
    font-size: 3rem;
  }

  /*  TESTIMONIALS SECTION */

  .testimonials-section {
    min-height: 90vh;
    padding-top: 0;
  }

  .testimonials-wrapper {
    width: 100%;
  }

  .testimonials-wrapper h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
    top: 20%;
  }

  /* INSTAGRAM SECTION */

  .instagram-section {
    margin-top: 0;
  }

  .images-grid {
    columns: 300px;
  }

  .images-grid-portfolio {
    padding: 0rem 1rem;
    columns: 175px;
  }

  .instagram-section h1 {
    font-size: 3rem;
  }

  /* NOT FOUND */

  .category-not-found h1,
  .page-not-found h1 {
    font-size: 3rem;
  }
  .category-not-found h2,
  .page-not-found h2 {
    font-size: 1.75rem;
  }

  /* ABOUT */

  .photographer-container img {
    height: 40vh;
  }

  .about-section h1 {
    font-size: 5rem;
  }

  /* CURSOR */

  .circle-cursor {
    display: none;
    background-color: red;
  }
}

@media (max-width: 768px), (max-device-width: 768px) {
  html {
    font-size: 14px;
  }

  /* HEADER */
  .header-nav {
    min-height: 10svh;
  }
  .header-nav-links {
    gap: 0.625rem;
  }
  .header-logo a {
    font-size: 2rem;
  }
  .dropdown-menu {
    gap: 2rem;
  }

  /* HERO */

  .hero > img {
    object-position: 65% 0%;
  }
  .hero-text {
    top: 60%;
  }
  .hero-text > h1 > span {
    font-size: 2.25rem;
  }
  .hero-text > h1 > span:nth-child(2) {
    font-size: 5.5rem;
  }

  /* GALLERY */
  .gallery-container div {
    gap: 0;
  }

  .gallery-photo-container {
    width: 75vw;
  }

  .gallery-container > div {
    padding: 0vw 12.5vw;
  }

  /* TESTIMONIAL */

  .testimonial-card .text,
  .testimonial-card .client,
  .testimonial-card .service {
    font-size: 1.5rem;
  }
  .testimonial-card {
    padding: 0rem 3rem;
  }
  .testimonials-wrapper h1 {
    font-size: 2.5rem;
  }
  .testimonial-card .client,
  .testimonial-card .service {
    text-wrap: nowrap;
  }

  /* INSTAGRAM */
  .instagram-section h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  .images-grid {
    columns: 200px;
  }

  /* ABOUT */
  .about-section {
    padding-top: 0;
  }
  .about-section h1 {
    font-size: 3.5rem;
    margin: 12.5vh 0vh 6vh 0vh;
  }
  .photographer-container > h2 {
    display: none;
  }
  .photographer-container > div {
    display: block;
    max-width: 500px;
  }
  .photographer-container p {
    max-width: none;
  }
  .photographer-container.first > div > img {
    float: left;
    margin-right: 1rem;
    height: 30vh;
  }
  .photographer-container.second > div {
    margin-left: auto;
  }
  .photographer-container.second > div > img {
    float: right;
    margin-left: 1rem;
    height: 30vh;
  }
  .photographer-container > div > p {
    float: none;
    font-size: 1.4rem;
    margin: 0;
  }
  .photographer-container > div > p span {
    font-weight: 700;
  }
  .photographer-container.second {
    margin-top: 0;
  }
  .about-container > p {
    font-size: 1.4rem;
  }
  .about-container > img {
    height: 225px;
  }

  /* PORTFOLIO CATEGORY */
  .portfolio-page-section h1 {
    font-size: 2.3rem;
  }
  .portfolio-page-section > h1 {
    font-size: 3.5rem;
  }
  .portfolio-page-section p {
    font-size: 1.5rem;
    max-width: 360px;
  }
  .portfolio-page-section a {
    text-decoration-thickness: 1px;
  }
  .portfolio-arrows {
    display: none;
  }

  /* NOT FOUND */
  .category-not-found h1,
  .page-not-found h1 {
    font-size: 2.3rem;
  }
  .category-not-found h2,
  .page-not-found h2 {
    font-size: 1.5rem;
  }
  .page-not-found a {
    text-underline-offset: 0.2rem;
  }

  /* FOOTER */

  footer {
    margin: 0 1rem;
  }
  .footer-left span {
    font-size: 2.75rem;
    margin-right: 1.1rem;
  }
  .footer-left h1 {
    font-size: 3rem;
  }
  .scroll-to-top img {
    height: 60px;
  }
  .footer-right,
  .footer-left {
    margin: 0;
  }
}

@media (max-width: 480px), (max-device-width: 480px) {
  /* HADER */
  .header-nav {
    padding: 0rem 1rem;
  }
  .header-logo a {
    font-size: 1.5rem;
  }
  .header-nav-links {
    gap: 0;
  }
  .hero-text > h1 > span:nth-child(2) {
    margin-right: -1rem;
    padding-right: 1rem;
  }

  /* HERO */
  .hero-text > h1 > span {
    font-size: 1.25rem;
  }
  .hero-text > h1 > span:nth-child(2) {
    font-size: 3.5rem;
  }

  /* GALLERY SECTION */
  .gallery-photo-container {
    height: 50vh;
  }

  /* PORTFOLIO SECTION */
  .portfolio-cover-img {
    max-height: 20vh;
  }

  .portfolio-container {
    padding: 0 1rem;
  }

  .portfolio-container > .portfolio-item {
    gap: 1rem;
  }

  /* TESTIMONIALS SECTION */
  .testimonials-wrapper h1 {
    text-wrap: wrap;
    text-align: center;
    top: 26%;
    font-size: 1.75rem;
  }

  .testimonial-card .text,
  .testimonial-card .client,
  .testimonial-card .service {
    font-size: 1.2rem;
  }

  .testimonial-card {
    padding: 0rem 1.5rem;
    margin: 10rem 0rem 5rem 0rem;
  }

  .testimonials-container {
    width: 90%;
  }

  .testimonial-card .quote {
    font-size: 5rem;
  }
  .testimonials-pagination {
    bottom: 12%;
  }
  .testimonials-pagination > button,
  .button-mask {
    height: 0.5rem;
    width: 0.5rem;
  }

  /* INSTAGRAM SECTION */
  .instagram-section {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
  .instagram-section h1 {
    text-wrap: wrap;
  }
  .images-grid {
    columns: 130px;
    gap: 0.25rem;
  }
  .images-grid > div {
    display: inline-block;
    margin-bottom: 0;
  }

  /* PORTFOLIO CATEGORY */
  .photos-navigation {
    height: 97.5px;
    width: 78px;
  }
  .photos-navigation-container {
    gap: 15px;
  }
  .fullscreen-container,
  .fullscreen-photo {
    max-height: 75vh;
    max-width: 95vw;
  }
  .images-grid-portfolio {
    padding: 0 0.25rem;
    columns: 120px;
  }
  .portfolio-close {
    right: 1rem;
    top: 1rem;
  }

  /* ABOUT */

  .about-section {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .about-section > h1 {
    margin-right: -1rem;
    padding-right: 1rem;
  }
  .about-container > img {
    height: 150px;
  }

  .photographer-container > div > p,
  .about-container > p {
    font-size: 1.25rem;
  }

  /* NOT FOUND */
  /* .category-not-found,
  .page-not-found {
    min-height: 70vh;
  } */

  /* FOOTER */
  footer {
    flex-direction: column-reverse;
    height: auto;
    padding: 2rem;
    gap: 3rem;
  }

  .scroll-to-top {
    right: 1rem;
    top: -1rem;
  }

  .footer-right {
    align-items: center;
    gap: 2rem;
  }
}

@supports (-webkit-touch-callout: none) and (not (hover: hover)) {
  .gallery-container > div {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .gallery-container > div::-webkit-scrollbar {
    display: none;
  }
}
